*{
	padding: 0px;
	margin: 0px;
}
@import './Partials/content';
@import './Partials/header';
@import './Partials/footer';
@import './Partials/tablet';
@import './Partials/mobile';

#wrapper{
	max-width: 1024px;
	margin: 0 auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}