@media (max-width: 767px){
    //Header
        #Menu{
            display: none;
        }
        #Menu_secundario{
            display: block;
        }
        #header ul{
            position: absolute;
            width: 100%;
            max-width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.4);
            z-index: 100;
        }
        #header ul li{
            list-style: none;
            float: left;
            font-size: 10px;
            padding: 1.1% 0 1.1% 0;
            padding-left:2%;
            margin-left: 1%;
        }
        #header ul li a{
            color: white;
            text-decoration: none;
        }
        #lista1{
            margin-left: 0%;
            
        }
    //fin header

    //content
    #imagenes img{
        width: 100%;
        margin-left: 0%;
        
    }
    #prefooter{
        max-width: 100%;
        position: relative;
        margin-bottom: 38%;
        margin-top: 10%;
    }
    #prefooter #avion{
     display: none;
    }
    #cont-prefooter{
        position: absolute;
        z-index: 1000;
        color: white;
        width: 100%;
        top: 30px;
        left: 2%;
        
    }
    #cont-prefooter h2,p{
        text-align: left;
        padding: 0% 2% 0 5%;
        font-size: 2.3vw;
    }
    #prefooter img{
        width: 100%;
        position: absolute;
        margin-left: 0%;
    }
    //fin content

    //Footer
    #footer{
        position: relative;
        background-color: rgb(41, 40, 40);
        color: white;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 3%;
    }
    #footer ul{
        display: none;
    }
    #footer ul li{
        float: left;
        padding-left: 4%;
    }
    #footer ul li a{
        text-decoration: none;
        color: white;
    }
    #footer img{
        display: none;
    }
    #footer span{
        margin-top: 1%;
        padding: 5px 25px 5px 25px;
        text-align: center;
    }
    //Fin Footer
}