@media (max-width: 767px){
    //Header
        #header ul li{
            font-size: 10px;
            padding: 1.1% 0 1.1% 0;
        }
    //fin header

    //content
    #imagenes img{
        width: 100%;
        margin-left: 0%;
    }
    #prefooter #avion{
        display: none;
    }
    #cont-prefooter{
        position: absolute;
        width: 100%;
        top: 30px;
        left: 2%;
    }
    #cont-prefooter h2,p{
        font-size: 2.3vw;
    }
    //fin content

    //Footer
    #footer ul{
        display: none;
    }
    #footer img{
        display: none;
    }
    #footer span{
        margin-top: 1%;
        padding: 5px 25px 5px 25px;
        text-align: center;
    }
    //Fin Footer
}