@media (max-width: 1023px){
    //Header
    #header ul li{
        font-size: 15px;
        padding: 1.1% 0 1.1% 0;
        padding-left:2%;
        margin-left: 1%;
    }
    #lista1{
        margin-left: 0%;
    }
    #iconos{
        top: 5px;
        left: 80%;
    }
    #iconos2{
        max-width: 50%;
    }
    //fin header

    //content
    #imagenes img{
        width: 48%;
        margin-left: 1%;
        
    }#prefooter{
        margin-bottom: 38%;
        margin-top: 10%;
    }
    #prefooter #avion{
        top: 80px;
        left: 14.3%;
    }
    #cont-prefooter{
        width: 50%;
        top: 80px;
        left: 45%;
        
    }
    #cont-prefooter h2,p{
        text-align: left;
        padding: 0% 2% 0 5%;
        font-size: 0.8rem;
    }
    #prefooter img{
        width: 100%;
        position: absolute;
        margin-left: 0%;
    }
    //fin content

    //Footer
    #footer{
        position: relative;
        background-color: rgb(41, 40, 40);
        color: white;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 3%;
    }
    #footer ul{
        padding-bottom: 9%;
        padding-top: 4%;
        padding-left: 23%;
        list-style: none;
    }
    #footer ul li{
        float: left;
        padding-left: 4%;
    }
    #footer ul li a{
        text-decoration: none;
        color: white;
    }
    #footer img{
        position: absolute;
        top:50%;
        left: 49%;
        
    }
    #footer span{
        margin-top: 1%;
        padding-left: 24%;
        text-align: center;
        padding-bottom: 3%;
    }
    //Fin Footer
}